# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# production / test artifacts
coverage/
test-results/
playwright-report/
playwright/.cache/

# local env files
.env
.env.local
.env*.local

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
